<?xml version='1.0' encoding='utf-8'?>
<widget id="com.seanchenxi.choco4me" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Choco4Me</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="xi@seanchenxi.com" href="http://seanchenxi.com">
        Xi CHEN
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
